<!-- Footer -->
<div class="w-full py-6 bg-gray-50 dark:bg-gray-900">
  <div class="w-full max-w-6xl px-4 md:px-6 mx-auto my-4">
    <div class="flex flex-wrap items-center justify-between gap-2 md:gap-6">
      <div class="w-full md:w-auto text-center md:text-left">
        <h2 class="text-xl font-bold">JIT Compiler</h2>
        <p class="text-base my-2">&copy; Copyright <a href="http://jitcompiler.com"
            class="text-blue-600">jitcompiler.com</a>, All rights reserved.</p>
      </div>
      <div class="w-full md:w-auto">
        <div class="flex flex-wrap justify-center gap-x-3 gap-y-2 md:gap-x-4 lg:gap-x-6">
          <a href="/compiler" class="text-sm text-gray-700 dark:text-gray-400">Compiler</a>
          <a href="/terms-of-service" class="text-sm text-gray-700 dark:text-gray-400" rel="nofollow">Terms of
            service</a>
          <a href="/privacy-policy" class="text-sm text-gray-700 dark:text-gray-400" rel="nofollow">Privacy policy</a>
          <a href="/#features" class="text-sm text-gray-700 dark:text-gray-400">Features</a>
          <a href="/#languages" class="text-sm text-gray-700 dark:text-gray-400">Supported languages</a>
        </div>
      </div>
    </div>
  </div>
</div>